<!DOCTYPE html>
<html>
<head>
    {{ template "header" . }}
</head>
<body id="home">
    <input type="hidden" id="hidden-nodeid" value="{{ .NodeId }}">

  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">

          {{ template "menubar" . }}

      </div>
    </div>
  </div>



  <div class="ui secondary pointing menu" id="menu-tabs">
      <a class="item" data-tab="tab-list" id="menu-tabs-list">
          List
      </a>
      <!--
      <div class="right menu">
          <a class="ui item">
              Logout
          </a>
      </div>
      -->
  </div>


  <div class="ui tab segment active" data-tab="tab-list" id="tab-list">
      <div id="tab-list-message"></div>
      <div id="results">
          <table class="ui very compact striped celled table" id="table-list">
              <thead></thead>
              <tbody id="table-list-body"></tbody>
          </table>
      </div>
  </div>

  <div class="ui basic modal" data-tab="tab-inspect" id="tab-inspect">
      <div id="results"></div>
  </div>

  <div class="ui basic modal small" data-tab="tab-top" id="tab-top">
      <div class="header">
          Container Processes
      </div>
      <div class="image content">
          <div class="image">
              <i class="ellipsis vertical icon"></i>
          </div>
          <div class="description">
              <p>The following processes are running on the container.</p>
          </div>
      </div>
      <div id="tab-top-message"></div>
      <div id="results" class="content">
          <table class="ui very compact striped inverted table" id="table-top">
              <thead></thead>
              <tbody id="table-top-body">
              </tbody>
          </table>
      </div>
      <div class="actions">
          <div class="one fluid ui inverted buttons">
              <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  OK
              </div>
          </div>
      </div>
  </div>

  <div class="ui basic modal" id="tab-changes-modal-message">
      <div id="tab-changes-message"></div>
  </div>
  <div class="ui basic  modal" data-tab="tab-changes" id="tab-changes">
      <div id="results">
          <table class="ui celled table" id="table-changes">
              <thead></thead>
              <tbody id="table-changes-body">
              </tbody>
          </table>
      </div>
  </div>

  <div class="ui basic modal small" data-tab="tab-delete" id="tab-delete">
      <!--<i class="close icon"></i>-->
      <div class="header">
          Delete Container
      </div>
      <div class="image content">
          <div class="image">
              <i class="trash outline icon"></i>
          </div>
          <div class="description">
              <p>The container has been deleted.</p>
          </div>
      </div>
      <div id="results" class="content"></div>
      <div class="actions">
          <div class="one fluid ui inverted buttons">
              <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  OK
              </div>
          </div>
      </div>
  </div>
  <div class="ui basic modal small" data-tab="tab-start" id="tab-start">
      <div class="header">
          Start Container
      </div>
      <div class="image content">
          <div class="image">
              <i class="play outline icon"></i>
          </div>
          <div class="description">
              <p>The container has been started.</p>
          </div>
      </div>
      <div id="results" class="content"></div>
      <div class="actions">
          <div class="one fluid ui inverted buttons">
              <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  OK
              </div>
          </div>
      </div>
  </div>
  <div class="ui basic modal small" data-tab="tab-stop" id="tab-stop">
      <div class="header">
          Stop Container
      </div>
      <div class="image content">
          <div class="image">
              <i class="stop outline icon"></i>
          </div>
          <div class="description">
              <p>The container has been stopped.</p>
          </div>
      </div>
      <div id="results" class="content"></div>
      <div class="actions">
          <div class="one fluid ui inverted buttons">
              <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  OK
              </div>
          </div>
      </div>
  </div>
  <div class="ui basic modal small" data-tab="tab-restart" id="tab-restart">
      <div class="header">
          Restart Container
      </div>
      <div class="image content">
          <div class="image">
              <i class="stop outline icon"></i>
          </div>
          <div class="description">
              <p>The container has been restarted.</p>
          </div>
      </div>
      <div id="results" class="content"></div>
      <div class="actions">
          <div class="one fluid ui inverted buttons">
              <div class="ui green basic inverted button">
                  <i class="checkmark icon"></i>
                  OK
              </div>
          </div>
      </div>
  </div>
  <!--
  <div class="ui basic modal" data-tab="tab-stats" id="tab-stats">
      <div id="results"></div>
  </div>
  -->
  <!--
  <div class="ui basic modal" data-tab="tab-logs" id="tab-logs">
      <div id="results"></div>
  </div>
  -->

  {{ template "footer" . }}

</body>

</html>
