<!DOCTYPE html>
<html>
<!--
<html manifest="/offline.appcache">
-->
<head>
    {{ template "header" . }}
</head>
<body id="home">
  <div class="ui inverted masthead segment">
    <div class="ui page grid">
      <div class="column">

        {{ template "menubar" . }}

        <img src="static/images/wire-frame-blu-light.png" class="ui medium image">
        <div class="ui hidden transition information">
          <h1 class="ui inverted header">
            Lightweight Container Orchestration
          </h1>
          <p>Platform-as-a-Service for business wanting more business, less configuration.</p>
          <div class="large basic inverted animated fade ui button">
            <div class="visible content">Get Started</div>
            <div class="hidden content">Register Now</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui vertical feature segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="ui four column center aligned stackable divided grid">


          <div class="column">
            <div class="ui icon header">
              <i class="block layout icon"></i>
              Nodes
            </div>
            <p>Add nodes, list nodes, remove nodes, ...</p>
            <p>
              <a class="ui button" href="nodes.html">
                Manage nodes
              </a>
            </p>
          </div>

          <div class="column">
            <div class="ui icon header">
              <i class="cube icon"></i>
              Images
            </div>
            <p>Get images, list images, update images, clean images, ...</p>
            <p>
              <a class="ui button" href="images.html">
                Manage images
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="cubes icon"></i>
              Containers
            </div>
            <p>Build containers, start containers, list containers, edit containers, clean containers, ...</p>
            <p>
              <a class="ui blue right labeled icon button" href="containers.html">
                Manage containers
                <i class="right chevron icon"></i>
              </a>
            </p>
          </div>
          <div class="column">
            <div class="ui icon header">
              <i class="area chart icon"></i>
              Monitor
            </div>
            <p>Monitor your platform's events.</p>
            <p>
              <a class="ui button" href="monitor.html">
                View
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--
  <div class="ui inverted vertical segment">
    <div class="ui very relaxed stackable page grid">
      <div class="row">
        <div class="column">
          <h1 class="center aligned ui inverted header">
            The Best Docker Articles
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="ten wide column">
          <h3 class="ui inverted header">How to Auto-Scale your Container Cluster</h3>
          <p>Scaling your container cluster is a key advantage of PaaS.  The isolation of services and the ability to clone them at the click of a button without the need for repetitive configuration and testing provides significant time and cost saving advantage.</p>
          <p>This and other tips can be found in our newsletter, amazing right?</p>
          <div class="ui basic inverted animated button button">
            <div class="visible content">Read More</div>
            <div class="hidden content"><i class="right arrow icon"></i></div>
          </div>
          <div class="ui inverted section divider"></div>
          <h3 class="ui inverted header">More articles</h3>
          <div class="ui inverted animated selection list">
            <div class="item">
              How to specify images
              <div class="right floated">Jan 20, 2023</div>
            </div>
            <div class="item">
              How to deploy containers
              <div class="right floated">Jan 1, 2023</div>
            </div>
            <div class="item">
              Securing containers
              <div class="right floated">Dec 20, 2022</div>
            </div>
          </div>
        </div>
        <div class="six wide column">
          <div class="ui form segment">
            <h3 class="ui header">Monthly Newsletter</h3>
            <p>Sign up for regular container articles.</p>
            <div class="field">
              <div class="ui left icon action input">
                <i class="user icon"></i>
                <input name="email" type="text" placeholder="name@email.com">
                <div class="ui black submit button">Sign up</div>
              </div>
            </div>
            <div class="ui error message"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  -->

  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="column">
          <h1 class="ui header">
            Many Companies Rely on our Container Platform
          </h1>
          <div class="ui horizontal divider"><i class="heart icon"></i></div>
        </div>
      </div>
      <div class="four column logo row">
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="active side">
                <i class="huge space shuttle icon"></i>
              </div>
              <div class="side">
                <i class="huge military icon"></i>
              </div>
              <div class="side">
                <i class="huge hospital icon"></i>
              </div>
              <div class="side">
                <i class="huge taxi icon"></i>
              </div>
              <div class="side">
                <i class="huge university icon"></i>
              </div>
              <div class="side">
                <i class="huge diamond icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge space shuttle icon"></i>
              </div>
              <div class="side">
                <i class="huge military icon"></i>
              </div>
              <div class="active side">
                <i class="huge hospital icon"></i>
              </div>
              <div class="side">
                <i class="huge taxi icon"></i>
              </div>
              <div class="side">
                <i class="huge university icon"></i>
              </div>
              <div class="side">
                <i class="huge diamond icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge space shuttle icon"></i>
              </div>
              <div class="side">
                <i class="huge military icon"></i>
              </div>
              <div class="side">
                <i class="huge hospital icon"></i>
              </div>
              <div class="side">
                <i class="huge taxi icon"></i>
              </div>
              <div class="active side">
                <i class="huge university icon"></i>
              </div>
              <div class="side">
                <i class="huge diamond icon"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="ui shape">
            <div class="sides">
              <div class="side">
                <i class="huge space shuttle icon"></i>
              </div>
              <div class="side">
                <i class="huge  military icon"></i>
              </div>
              <div class="side">
                <i class="huge hospital icon"></i>
              </div>
              <div class="side">
                <i class="huge taxi icon"></i>
              </div>
              <div class="side">
                <i class="huge university icon"></i>
              </div>
              <div class="active side">
                <i class="huge diamond icon"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ template "footer" . }}

</body>

</html>
